@import "sjea-defs";

* {
   margin: 0;
   padding: 0;
}

#content {

   #content-controls {

      #page-number-display {
          position: absolute;
          width: 52%;
          text-align: right;
          margin: 5px 0 0 0;
          font-size: 20px;
      }

      #previous-button, #next-button, #hl-line-go-button {
          position: relative;
          width: 100px;
          height: 18px;
      }

      #previous-button {
          float: left;
          margin: 6px 0 0 6px;
          z-index: 10;
      }

      #next-button {
          float: right;
          margin: 6px 6px 0 0;
      }

      #hl-line-entry {
          float: right;
          width: 70px;
          margin: 5px 20px 0 0;
      }

      #hl-line-go-button {
          float: right;
          margin: 6px 10px 0 0;
      }
   }

   #compare-results {
      width: 100%;
      height: 500px;
      border-collapse: collapse;
      text-align: center;
      td, th {
         width: 8%;
         border: 2px solid $table_lines;
      }

      .textline {
         text-align: left;
         padding: 0 0 0 10px;
         height: 75px;
         width: 84%;
      }

      .alt {
         background: $altrow_background;
      }
   }
}

.ui-menu .ui-menu-item a {
     font-size: 14px;
     font-family: 'Ariel', sans-serif;
}