//
// color definitions
//
$title_background: #B3B3B3;
$footer_background: #B3B3B3;
$contentheader_background: #B3B3B3;

//
// size/position definitions
//
$navbox_width: 180px;   // width of the main navigation box
$navbox_height: 350px;  // hight of the main navigation box

$screen_width: 1350px;
$screen_height: 1050px;

$footer_height: 50px;


$site_font: 'Ariel', sans-serif;
$content_font: 'Cardo', serif;


* {
   margin: 0;
   padding: 0;
}

#page {
    min-height: $screen_height;
    margin-bottom: 10px;
    font-family: $site_font;
}

#main-header {

    width: $screen_width - 50px; // dont forget the padding...
    height: 60px;
    text-align: center;
    background-color: $title_background;
    padding: 25px;

    #header-list {
       padding: 20px 0 0 0;
       li {
          list-style-type: none;
          display: inline;
          margin: 25px;

          a {
             position: relative;
             text-decoration: none;
             padding: 25px 0 0 0;

          }

          a:hover {
             color: red;
          }
       }

       .active {
          color: red;
       }
    }
}

#main-title {
   width: $screen_width - 250px;
   height: 30px;
   text-align: left;
   padding: 20px 0 0 250px;
}

#sidebar {

   float: left;
   padding: 10px 0 0 40px;
   height: $navbox_height;
   width: $navbox_width;
}

#sidebar-items {

     li {

        list-style-type: none;
	    cursor: pointer;
        margin: 20px 0 20px 0;
        padding: 0;
        font-size: 16px;

        a:hover {
           color: red;
        }
     }

     .sublist {
        padding: 0 0 0 20px;
        font-size: 13px;
	    cursor: pointer;
     }

     .active {
       color: red;
     }
}

#content {

   width: 950px;
   padding: 10px 0 0 250px;

   #content-header {
      position: relative;
      background-color: $contentheader_background;
      width: 100%;
      height: 30px;
   }

   #content-display {
      position: relative;
      padding: 25px 0 0 0;
      font-family: $content_font;
   }
}

#footer-spacer {
   height: 10px;
}

#main-footer {
   width: $screen_width;
   height: $footer_height;
   margin: 0;
   text-align: center;
   font-size: 11px;
   background-color: $footer_background;
   font-family: $site_font;
}