//
// color definitions
//

$page_background_color: #2F1E17;

$title_text_color: white;

$footer_text_color: #F0E7CF;
$footer_background_color: $page_background_color;

$header_tabs_active_color: #7B1C12;
$header_tabs_inactive_color: #F0E7CF;

$content_text_color: black;
$content_background_color: #F0E7CF;

$navitem_hover_color: white;
$navitem_active_color: $page_background_color;
$navitem_text_color: #695A42;

$navbox_background_color: #DDD5BD;

$contentheader_background_color: $navbox_background_color;

//
// size/position definitions
//
$page_width: 95%;

$page_height: 1000px;
$header_height:148px;
$footer_height: 50px;

$navbox_width: $page_width * ( 1 / 6 );
$contentarea_width: $page_width * ( 5 / 6 );

//
// Font definitions...
//
$site_font: 'Ariel', sans-serif;
$content_font: "Times New Roman", Times, serif;


* {
   margin: 0;
   padding: 0;
}

body {
    background-color: $page_background_color;
}

#page {
    width: $page_width;
    min-height: $page_height;
    margin: auto;
    font-family: $site_font;
}

#page-header {

    width: 100%;
    height: $header_height;
    background-image: url("/images/banner_bg_stretch.jpg");
    background-repeat: repeat-x;
    color: $title_text_color;

    #background-graphic {
       position: absolute;
       background-image: url("/images/banner_bg.jpg") ;
       width: 1024px;
       height: 148px;
    }

    #logo-graphic {
       position: relative;
       background-image: url("/images/logo_banner.png");
       background-repeat: no-repeat;
       width: 81px;
       height: 120px;
       margin: 15px 0 0 15px;
       float: left;
    }

    #title-graphic {
       position: relative;
       background-image: url("/images/banner_siegeofjerusalem.png");
       background-repeat: no-repeat;
       width: 425px;
       height: 75px;
       float: left;
       margin: 35px 0 0 20px;
    }

    #title-support {
       position: relative;
       float: left;
       font-size: 14px;
       margin: 63px 0 0 10px;
    }

    #editor-name {
       position: relative;
       float: left;
       font-size: 16px;
       margin: 90px 0 0 -585px;
    }

    #header-tabs {

       position: relative;
       padding: 118px 0 0 0;

       li {
          position: relative;
          display: inline;
          float: right;
       }

       li a {
          position: relative;
          width: 88px;
          height: 30px;
          display: block;
          background-image: url("/images/topnav_tab_inactive.png");
          background-repeat: no-repeat;
          text-decoration: none;
          font-size: 15px;
          padding-top: 8px;
          text-align: left;
          padding-left: 18px;
          color: $header_tabs_inactive_color;
       }

       li.home a {
          //background-image: url("/images/tab-home.png");
       }

       li.current a {
          background-image: url("/images/topnav_tab_active.png");
          background-repeat: no-repeat;
          background-position: top left;
          color: $header_tabs_active_color;
       }

       li a:hover {
         color: #ffffff;
       }

       li.current a:hover {
         color: #ffffff;
       }

       li.current, li.home {
          z-index: 100;
       }

       li.manuscript {
          z-index: 99;
       }

       li.search {
          z-index: 98;
       }

       li.compare {
          z-index: 97;
       }
    }
}

#sidebar {

   position: absolute;
   display: block;
   padding: 0 0 0 25px;
   min-height: $page_height - $header_height;

   width: $navbox_width;
   color: $navitem_text_color;
   background-color: $navbox_background_color;
   z-index: 100;
   //bottom: $footer_height + 15px;
   //top: $header_height;
}

#sidebar-items {

     #item-heading {
        height: 25px;
        padding: 25px 0 25px 5px;
        font-size: 24px;
        color: $header_tabs_active_color;
     }

     #overview {
        color: $navitem_text_color;
     }

     li {

        list-style-type: none;
	    cursor: pointer;
        margin: 25px 0 20px 0;
        padding: 0;
        font-size: 16px;

        a {
           text-decoration: none;
        }

        a:hover {
           color: $navitem_hover_color;
        }
     }

     .sublist {
        padding: 0 0 0 20px;
        font-size: 13px;
	    cursor: pointer;
     }

     .active {
       color: $navitem_active_color;
       font-weight: bold;
     }
}

#content {

   color: $content_text_color;
   background-color: $content_background_color;
   width: 100%;
   min-height: $page_height - $header_height;

   #content-title {
      width: 100%;
      height: 30px;
      margin: auto;
      text-align: left;
      //padding: 20px 0 0 310px;
      color: $page_background_color;
      background-color: $content_background_color;
   }

   #content-controls {
      position: relative;
      background-color: $contentheader_background_color;
      height: 30px;
      margin: 15px 25px 0 265px;
   }

   #content-display {
      position: relative;
      font-family: $content_font;
      text-align: justify;
      padding: 75px 25px 0 265px;
   }
}

#footer-spacer {
   background-color: $content_background_color;
   height: 10px;
}

#main-footer {
   width: $page_width;
   height: $footer_height;
   margin: auto;
   text-align: center;
   font-size: 11px;
   background-color: $footer_background_color;
   color: $footer_text_color;
   font-family: $site_font;
   padding-top: 8px;
   clear: both;
   bottom: 0;
}

.standard-tooltip {
	color: #000;
	cursor: pointer;
}

.standard-tooltip:hover {
	background-position: 0;
	background-color: transparent;
	color: #000;
}

.tooltip {
    background-color: #000;
    border: 1px solid #FFF;
    padding: 10px 15px;
    display: none;
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: normal;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}

.blockUI h1 {
   font-family: 'trebuchet ms', verdana, arial;
   font-size: 20px;
}

#zoom-image-div {
   width: 800px;
   height: 930px;
   margin: auto;
   border: 1px;
   border-style: solid;
   border-color: #696969;
}

#copyright-div {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: $site_font;
}

#open-new-zoom-window {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: $site_font;
}
