//
// color definitions
//
$title_background: #B3B3B3;
$footer_background: #B3B3B3;
$contentheader_background: #B3B3B3;
$hover_color: red;
$active_color: red;

//
// size/position definitions
//
$navbox_width: 180px;   // width of the main navigation box
$navbox_height: 350px;  // hight of the main navigation box

$contentarea_width: 1000px;
$screen_height: 1050px;

$footer_height: 50px;


$site_font: 'Ariel', sans-serif;
//$content_font: 'Cardo', serif;
$content_font: "Times New Roman", Times, serif;


* {
   margin: 0;
   padding: 0;
}

#page {
    width: 100%;
    min-height: $screen_height;
    margin-bottom: 10px;
    font-family: $site_font;
}

#main-header {

    width: 100%;
    height: 60px;
    text-align: center;
    background-color: $title_background;
    padding: 25px 0 25px 0;

    #header-list {
       padding: 20px 0 0 0;
       li {
          list-style-type: none;
          display: inline;
          margin: 25px;

          a {
             position: relative;
             text-decoration: none;
             padding: 25px 0 0 0;

          }

          a:hover {
             color: $hover_color;
          }
       }

       .active {
          color: $active_color;
       }
    }
}

#main-title {
   width: 75%;
   height: 30px;
   text-align: left;
   padding: 20px 0 0 250px;
}

#sidebar {

   float: left;
   padding: 10px 0 0 40px;
   height: $navbox_height;
   width: $navbox_width;
}

#sidebar-items {

     #item-heading {
        height: 25px;
        padding: 10px 0 0 0;
     }

     li {

        list-style-type: none;
	    cursor: pointer;
        margin: 25px 0 20px 0;
        padding: 0;
        font-size: 16px;

        a {
           text-decoration: none;
        }

        a:hover {
           color: $hover_color;
        }
     }

     .sublist {
        padding: 0 0 0 20px;
        font-size: 13px;
	    cursor: pointer;
     }

     .active {
       color: $active_color;
     }
}

#content {

   width: $contentarea_width;
   padding: 10px 0 0 250px;

   #content-header {
      position: relative;
      background-color: $contentheader_background;
      width: 100%;
      height: 30px;
   }

   #content-display {
      position: relative;
      padding: 25px 0 0 0;
      font-family: $content_font;
   }
}

#footer-spacer {
   height: 10px;
}

#main-footer {
   width: 100%;
   height: $footer_height;
   margin: 0;
   text-align: center;
   font-size: 11px;
   background-color: $footer_background;
   font-family: $site_font;
   clear: both;
}

.standard-tooltip {
	color: #000;
	cursor: pointer;
}

.standard-tooltip:hover {
	background-position: 0;
	background-color: transparent;
	color: #000;
}

.tooltip {
    background-color: #000;
    border: 1px solid #FFF;
    padding: 10px 15px;
    display: none;
    color: #fff;
    text-align: left;
    font-size: 15px;
    font-weight: normal;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
}

.blockUI h1 {
   font-family: 'trebuchet ms', verdana, arial;
   font-size: 20px;
}

#zoom-image-div {
   width: 800px;
   height: 930px;
   margin: auto;
   border: 1px;
   border-style: solid;
   border-color: #696969;
}

#copyright-div {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: $site_font;
}

#open-new-zoom-window {
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: $site_font;
}
