* {
   margin: 0;
   padding: 0;
}

#content {

   #content-header {
      #view-control {
         float: left;
         width: 100px;
         margin: 6px 0 0 6px;

      }
      span {
         float: left;
         margin: 6px 0 0 6px;
      }

      .color-key {
         float: right;
         width: 20px;
         height: 20px;
         margin: 5px 5px 5px 5px;
      }

      #key-text {
         float: right;
         margin: 8px 0 0 0;
      }

      #color-key-1 {
         background-color: green;
      }

      #color-key-2 {
         background-color: olive;
      }

      #color-key-3 {
         background-color: violet;
      }

      #color-key-4 {
         background-color: purple;
      }

      #color-key-5 {
         background-color: aqua;
      }

      #color-key-6 {
         background-color: fuchsia;
      }

      #xml-button {
         float: right;
         width: 50px;
         height: 18px;
         margin: 4px 3px 0 0;
         background: url('/images/xmlbutton.jpg') no-repeat bottom;
      }
   }

   #content-display {
      text-align: justify;
   }
}