* {
   margin: 0;
   padding: 0;
}

#content {

   #search-controls {
      width: 42%;
      padding: 21px 0 0 20px;
      float: left;

      #textbox-div, #special-keys-div, #searchin-div, #manuscripts-div, #submit-div {
          width: 100%;
          padding: 0 0 30px 0;
          text-align: right;
      }

      #textbox-div {
         padding: 0 0 10px 0;
      }

      #special-keys-div {

          padding: 10px 0 0 15px;
          width: 350px;

          .special-key-button {
             float: left;
             width: 35px;
             height: 35px;
             margin: 0 0 0 10px;
             font-size: 18px;
          }
      }
   }

   #search-instructions {
       width: 50%;
       text-align: justify;
       padding: 0 0 0 5px;
       float: right;
       border-left-style: solid;
       border-width: 2px;
   }

   #content-display {

      .result-header {
         padding: 0 0 10px 0;
         font-size: 24px;
      }

      .result {

          padding: 0 0 14px 0;

          .result-title {
             padding: 10px 0 0 0;
             font-size: 20px;
             a {
                text-decoration: none;
             }
          }

          .result-snippet {
             padding: 10px 0 0 0;
             font-size: 17px;
          }

          .result-snippet em {
             background-color: pink;
             font-style: normal;
          }
      }
   }
}

#pagination ul {
   border: 0;
   margin: 0;
   padding: 0;
   list-style: none;
}

#pagination li {
   border: 0;
   margin: 0;
   padding: 0;
   font-size: 15px;
   list-style: none;
   float: left;
   border: solid 1px #DEDEDE;
   margin-right: 2px;
}

#pagination .previous-off,
#pagination .next-off {
   color: #888888;
   display: block;
   font-weight: bold;
   padding: 3px 6px;
   background-color: #CCCCCC;
}

#pagination .next a, #pagination .previous a {
   font-weight: bold;
   border: solid 1px #FFFFFF;
}

#pagination .active {
   color: #00000;
   display: block;
   padding: 3px 6px;
   background-color: #FFFFD7;
}

#pagination a {
   color: #0033CC;
   display: block;
   padding: 3px 6px;
   text-decoration: none;
   cursor: pointer;
}
