@import "sjea-defs";

* {
   margin: 0;
   padding: 0;
}

#content {

   #content-controls {

      #view-control {
         float: left;
         width: 100px;
         margin: 6px 0 0 6px;

      }

      span {
         float: left;
         margin: 6px 0 0 6px;
      }

      .color-key {
         float: right;
         width: 20px;
         height: 20px;
         margin: 5px 5px 5px 5px;
      }

      #key-text {
         float: right;
         margin: 8px 0 0 0;
      }

      #color-key-1 {
         background-color: green;
      }

      #color-key-2 {
         background-color: olive;
      }

      #color-key-3 {
         background-color: violet;
      }

      #color-key-4 {
         background-color: purple;
      }

      #color-key-5 {
         background-color: aqua;
      }

      #color-key-6 {
         background-color: fuchsia;
      }

      #xml-button {
         float: right;
         width: 50px;
         height: 18px;
         margin: 4px 3px 0 0;
         background: url('/images/xmlbutton.jpg') no-repeat bottom;
      }
   }

   #content-display {
      text-align: justify;
   }
}

#lb-zoom-image-div {
   width: 875px;
   height: 910px;
   margin: auto;
   border: 3px;
   border-style: solid;
   border-color: $image_border_color;
   background-color: $content_background_color;

}

#fs-zoom-image-div {
   position: relative;
   top: $header_height + 10px;
   width: 875px;
   height: 910px;
   margin: auto;
   border: 3px;
   border-style: solid;
   border-color: $image_border_color;
   background-color: $content_background_color;
}

#open-new-zoom-window {
    padding: 15px 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 14px;
    font-family: $site_font;
    a {
       color: $content_background_color;
    }
}

#copyright-div {
    padding: 15px 0 0 0;
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-family: $site_font;
    color: $content_background_color;
}


