//
// color definitions
//
$contentheader_background: #B3B3B3;
$altrow_background: #EDEDED;
$table_lines: #9F9F9F;

* {
   margin: 0;
   padding: 0;
}

#content {

   #content-header {

      #compare-page-div {
          position: relative;
          text-align: center;
          width: 100px;
          height: 18px;
          margin: 0 0 0 410px;
          padding: 8px 0 0 0;
      }

      #previous-button, #next-button {
          position: relative;
          width: 100px;
          height: 18px;
      }

      #previous-button {
          float: left;
          margin: 6px 0 0 6px;
      }

      #next-button {
          float: right;
          margin: -20px 6px 0 0;
      }
   }

   #compare-results {
      width: 100%;
      height: 500px;
      border-collapse: collapse;
      text-align: center;
      td, th {
         width: 8%;
         border: 2px solid $table_lines;
      }

      .textline {
         text-align: left;
         padding: 0 0 0 10px;
         height: 75px;
         width: 84%;
      }

      .alt {
         background: $altrow_background;
      }
   }
}