//
// color definitions
//
$contentheader_background: #B3B3B3;

//
// location definitions
//
$navbox_width: 180px;   // width of the main navigation box
$navbox_height: 350px;  // hight of the main navigation box

#sidebar {

   float: left;
   padding: 10px 0 0 40px;
   height: $navbox_height;
   width: $navbox_width;
}

#sidebar-items {

     li {

        list-style-type: none;
	    cursor: pointer;
        margin: 10px 0 10px 0;
        padding: 0;
        font-size: 16px;

        .sublist-item {
            padding: 0 0 0 30px;
            font-size: 14px;
        }
     }

   .active {
       color: red;
    }
}

#active-title {

      width: 100%;
      height: 30px;
      text-align: center;
      padding: 25px 0 0 0;
}

#content {

   width: 750px;
   padding: 10px 0 0 250px;

   #content-type {
      position: relative;
      background-color: $contentheader_background;
   }

   #content-display {
      position: relative;
      padding: 25px 0 0 0;
      text-align: justify;
   }
}