* {
   margin: 0;
   padding: 0;
}

$logobox_hight: 110px;
$logobox_width: 300px;

#content {

   li {
      margin: 0 0 0 40px;
   }

   #content-display {
      text-align: justify;

      .logo-left, .logo-right {
	     background-repeat: no-repeat;
	     background-position: top left;
	     display: block;
	     height: $logobox_hight;
	     width: $logobox_width;
	     margin-top: 12px;
	     margin-bottom: 12px;
         background-size: $logobox_width $logobox_hight;
      }

      .logo-left {
	     float: left;
	     clear: left;
	     margin-left: 50px;
	  }

      .logo-right {
	     float: right;
	     clear: right;
	     margin-right: 150px;
      }

      #neh-logo {
         background-image: url(/images/neh_logo_horizontal_rgb.jpg);
         background-size: $logobox_width $logobox_hight - 25px;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/neh_logo_horizontal_rgb.jpg',sizingMethod='scale');
      }

      #ncsu-logo {
         background-image: url(/images/CHASScolor.jpg);

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/CHASScolor.jpg',sizingMethod='scale');
      }

      #bibsoc-logo {
         background-image: url(/images/BSA-new-logo-text.jpg);
         background-size: $logobox_width $logobox_hight - 10px;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/BSA-new-logo-text.jpg',sizingMethod='scale');
      }

      #bodlib-logo{
         background-image: url(/images/bod_t_2009.gif);

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bod_t_2009.gif',sizingMethod='scale');
      }

      #britlib-logo{
         background-image: url(/images/BL-logo.jpg);

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/BL-logo.jpg',sizingMethod='scale');
      }

      #culib-logo{
         background-image: url(/images/uoc-logo.gif);
         background-size: $logobox_width $logobox_hight - 40px;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/uoc-logo.gif',sizingMethod='scale');
      }

      #dro-logo {
         background-image: url(/images/dro-logo.jpg);
         background-size: $logobox_hight $logobox_hight;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/dro-logo.jpg',sizingMethod='scale');
      }

      #huntlib-logo{
         background-image: url(/images/HuntingtonLogoWithH.jpg);
         background-size: $logobox_width $logobox_hight - 50px;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/HuntingtonLogoWithH.jpg',sizingMethod='scale');
      }

      #lamlib-logo{
         background-image: url(/images/lpl_logo.gif);
         background-size: $logobox_hight $logobox_hight;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/lpl_logo.gif',sizingMethod='scale');
      }

      #pulib-logo{
         background-image: url(/images/hp_logo.jpg);
         background-size: $logobox_width $logobox_hight - 50px;

         /* IE 8 specific !!! */
         background-image: none\9;
         filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/hp_logo.jpg',sizingMethod='scale');
      }
   }
}