TEI {
    background-color:#FFFFF0;
    margin:auto;
    font-family:"Arial Unicode MS", "Lucida Sans Unicode", "AbRomanSerif", sans-serif, serif;
    font-size:small;
    color:black
}
teiHeader {
    display:none;
}
A:link {
    text-decoration: none;
    color:inherit;
    background-color:inherit
}
A:visited {
    text-decoration: none;
    color:inherit
}
A:active {
    text-decoration: none;
    color:inherit
}
A:hover {
    text-decoration: underline;
    color:#0000FF;
}
*[rend="lnumber"] {
    display: inline;
    line-height:200%;
    margin-right:5%
}
ref {
    display:none;
}
add[place="marginRight"] {
    display:inline;
    text-decoration:underline;
    color:#9400D3;
    background-color:inherit
}
add[place="marginLeft"] {
    display:inline;
    text-decoration:underline;
    color:#9400D3;
    background-color:inherit
}
add[place="superlinear"] {
    display:inline;
    text-decoration:underline;
    color:#9400D3;
    background-color:inherit
}
add[place="inline"] {
    display:inline;
    text-decoration:underline;
    color:#9400D3;
    background-color:inherit
}
add[place="bottomCenter"] {
    display:block;
    text-decoration:underline;
    text-align:center;
    color:#9400D3;
    background-color:inherit
}
add[place="bottomRight"] {
    display:block;
    text-decoration:underline;
    text-align:center;
    color:#9400D3;
    background-color:inherit
}
del {
    display:inline;
    text-decoration:line-through;
    color:#D2691E;
    background-color:inherit
}
*[rendition="#boxed"] {
    display:inline;
    border:thin solid black
}
damage {
    display:inline;
    text-decoration:underline;
    color:#663300;
    background-color:inherit
}
*[rendition="#rb"] {
    display:inline;
    color:#DC143C;
    background-color:inherit
}
fw[place="bottomRight"] {
    display:block;
    text-align:right
}
*[rendition="#tr"] {
    display:inline;
    color:#8B0000;
    background-color:inherit
}
*[rendition="#BinR"] {
    display:inline;
    border:thin solid #DC143C
}
*[rend="milestone"] {
    line-height:200%;
    font-size:large;
    text-align:left;
}
p {
    display:block;
    text-align:left;
}
l {
    display:block;
}
note {
    display:inline;
    vertical-align:super;
    font-size:x-small;
}
cell {
  display: table-cell;
  border: 1px solid #000000;
  padding: 3px;
  color: inherit;
  background-color:inherit;
}
cell[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}
row {
  display: table-row;
}
row[role='label'] {
   color: inherit;
   background-color: #BBBBBB;
}
table {
  text-align: center;
  display: table;
  margin: 1em
}
*[rendition="#underline"] {
text-decoration:underline;
}
*[rendition="#italics"] {
font-style:italic;
}
*[rendition="#sup"] {
vertical-align:super;
}
back {
display:none;
}