* {
  margin: 0;
  padding: 0; }

#content #search-controls {
  width: 42%;
  padding: 21px 0 0 20px;
  float: left; }
  #content #search-controls #textbox-div, #content #search-controls #searchin-div, #content #search-controls #manuscripts-div, #content #search-controls #submit-div {
    width: 100%;
    padding: 0 0 30px 0;
    text-align: right; }
#content #search-instructions {
  width: 50%;
  text-align: justify;
  padding: 0 0 0 5px;
  float: right;
  border-left-style: solid;
  border-width: 2px; }
#content #content-display .result-header {
  padding: 0 0 10px 0;
  font-size: 22px; }
#content #content-display .result-title {
  padding: 10px 0 0 0;
  font-size: 16px; }
#content #content-display .result-snippet {
  padding: 10px 0 0 0;
  font-size: 15px; }
