* {
  margin: 0;
  padding: 0; }

#content #content-header #compare-page {
  padding: 0 0 0 325px;
  text-align: right; }
#content #content-header #previous-button {
  width: 100px;
  height: 18px;
  float: left; }
#content #content-header #next-button {
  width: 100px;
  height: 18px;
  float: right; }
#content #content-display {
  text-align: justify; }
#content .compare-box {
  position: relative;
  padding: 10px 0 40px 48px;
  text-align: left;
  border-top-style: solid;
  border-width: 1px; }

#sidebar-items li a {
  cursor: default; }

.compare-box {
  width: 95%;
  height: 9px; }

#compare-spacer {
  width: 100%;
  height: 20px; }
