* {
  margin: 0;
  padding: 0; }

#content li {
  margin: 0 0 0 40px; }
#content #content-display {
  text-align: justify; }
  #content #content-display .logo-top, #content #content-display .logo-bot {
    background-repeat: no-repeat;
    background-position: top left;
    display: block;
    height: 100px;
    width: 175px;
    margin: 30px 10px 0 0;
    float: left; }
  #content #content-display .logo-bot {
    margin: 0 10px 0 0; }
  #content #content-display #neh-logo {
    background-image: url(/images/partnerlogo_top_neh.jpg);
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_top_neh.jpg',sizingMethod='scale'); }
  #content #content-display #ncsu-logo {
    background-image: url(/images/partnerlogo_top_chass.jpg);
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_top_chass.jpg',sizingMethod='scale'); }
  #content #content-display #bibsoc-logo {
    background-image: url(/images/partnerlogo_top_bsa.jpg);
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_top_bsa.jpg',sizingMethod='scale'); }
  #content #content-display #bodlib-logo {
    background-image: url(/images/partnerlogo_top_bodleian.jpg);
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_top_bodleian.jpg',sizingMethod='scale'); }
  #content #content-display #britlib-logo {
    background-image: url(/images/partnerlogo_top_britishlib.jpg);
    width: 90px;
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_top_britishlib.jpg',sizingMethod='scale'); }
  #content #content-display #culib-logo {
    background-image: url(/images/partnerlogo_btm_uoc.jpg);
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_btm_uoc.jpg',sizingMethod='scale'); }
  #content #content-display #dro-logo {
    background-image: url(/images/partnerlogo_btm_devon.jpg);
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_btm_devon.jpg',sizingMethod='scale'); }
  #content #content-display #huntlib-logo {
    background-image: url(/images/partnerlogo_btm_huntington.jpg);
    width: 225px;
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_btm_huntington.jpg',sizingMethod='scale'); }
  #content #content-display #lamlib-logo {
    background-image: url(/images/partnerlogo_top_lamberth.jpg);
    width: 90px;
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_top_lamberth.jpg',sizingMethod='scale'); }
  #content #content-display #pulib-logo {
    background-image: url(/images/partnerlogo_btm_princeton.jpg);
    width: 225px;
    /* IE 8 specific !!! */
    background-image: none\9;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/partnerlogo_btm_princeton.jpg',sizingMethod='scale'); }
