* {
  margin: 0;
  padding: 0; }

#main-header {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #b3b3b3;
  padding: 25px; }
  #main-header #header-list {
    padding: 20px 0 0 0; }
    #main-header #header-list li {
      list-style-type: none;
      display: inline;
      margin: 25px; }
      #main-header #header-list li a {
        position: relative;
        text-decoration: none;
        padding: 25px 0 0 0; }
      #main-header #header-list li a:hover {
        color: red; }
    #main-header #header-list .active {
      color: red; }

#main-footer {
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: center;
  font-size: 11px;
  background-color: #b3b3b3;
  position: fixed;
  bottom: 0;
  z-index: 999999; }
