* {
  margin: 0;
  padding: 0; }

#page {
  width: 100%;
  min-height: 1050px;
  margin-bottom: 10px;
  font-family: "Ariel", sans-serif; }

#main-header {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #b3b3b3;
  padding: 25px 0 25px 0; }
  #main-header #header-list {
    padding: 20px 0 0 0; }
    #main-header #header-list li {
      list-style-type: none;
      display: inline;
      margin: 25px; }
      #main-header #header-list li a {
        position: relative;
        text-decoration: none;
        padding: 25px 0 0 0; }
      #main-header #header-list li a:hover {
        color: red; }
    #main-header #header-list .active {
      color: red; }

#main-title {
  width: 75%;
  height: 30px;
  text-align: left;
  padding: 20px 0 0 250px; }

#sidebar {
  float: left;
  padding: 10px 0 0 40px;
  height: 350px;
  width: 180px; }

#sidebar-items #item-heading {
  height: 25px;
  padding: 10px 0 0 0; }
#sidebar-items li {
  list-style-type: none;
  cursor: pointer;
  margin: 25px 0 20px 0;
  padding: 0;
  font-size: 16px; }
  #sidebar-items li a {
    text-decoration: none; }
  #sidebar-items li a:hover {
    color: red; }
#sidebar-items .sublist {
  padding: 0 0 0 20px;
  font-size: 13px;
  cursor: pointer; }
#sidebar-items .active {
  color: red; }

#content {
  width: 1000px;
  padding: 10px 0 0 250px; }
  #content #content-header {
    position: relative;
    background-color: #b3b3b3;
    width: 100%;
    height: 30px; }
  #content #content-display {
    position: relative;
    padding: 25px 0 0 0;
    font-family: "Cardo", serif; }

#footer-spacer {
  height: 10px; }

#main-footer {
  width: 100%;
  height: 50px;
  margin: 0;
  text-align: center;
  font-size: 11px;
  background-color: #b3b3b3;
  font-family: "Ariel", sans-serif; }

.standard-tooltip {
  color: #000;
  cursor: pointer; }

.tooltip {
  background: #FDEAAA;
  border-radius: 10px;
  /* rounded-corners for CSS3 browsers */
  -moz-border-radius: 10px;
  /* rounded-corners for Firefox */
  -webkit-border-radius: 10px;
  /* rounded-corners for Safari */
  color: #000;
  display: none;
  font-size: 14px;
  font-weight: normal;
  padding: 12px;
  position: relative;
  text-align: left;
  border: 1px solid #000; }

.blockUI h1 {
  font-family: 'trebuchet ms', verdana, arial;
  font-size: 20px; }

#zoom-image-div {
  width: 800px;
  height: 930px;
  margin: auto;
  border: 1px;
  border-style: solid;
  border-color: #696969; }

#open-new-zoom-window {
  width: 100%;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 18px;
  font-family: "Ariel", sans-serif; }
