* {
  margin: 0;
  padding: 0; }

#page {
  min-height: 1050px;
  margin-bottom: 10px; }

#main-header {
  width: 1300px;
  height: 60px;
  text-align: center;
  background-color: #b3b3b3;
  padding: 25px; }
  #main-header #header-list {
    padding: 20px 0 0 0; }
    #main-header #header-list li {
      list-style-type: none;
      display: inline;
      margin: 25px; }
      #main-header #header-list li a {
        position: relative;
        text-decoration: none;
        padding: 25px 0 0 0; }
      #main-header #header-list li a:hover {
        color: red; }
    #main-header #header-list .active {
      color: red; }

#main-title {
  width: 1100px;
  height: 30px;
  text-align: left;
  padding: 20px 0 0 250px; }

#sidebar {
  float: left;
  padding: 10px 0 0 40px;
  height: 350px;
  width: 180px; }

#sidebar-items li {
  list-style-type: none;
  cursor: pointer;
  margin: 15px 0 15px 0;
  padding: 0;
  font-size: 17px; }
  #sidebar-items li a:hover {
    color: red; }
#sidebar-items .sublist {
  padding: 0 0 0 20px;
  font-size: 14px;
  cursor: pointer; }
#sidebar-items .active {
  color: red; }

#content {
  width: 950px;
  padding: 10px 0 0 250px; }
  #content #content-header {
    position: relative;
    background-color: #b3b3b3;
    width: 100%;
    height: 30px; }
  #content #content-display {
    position: relative;
    padding: 25px 0 0 0; }

#footer-spacer {
  height: 10px; }

#main-footer {
  width: 1350px;
  height: 50px;
  margin: 0;
  text-align: center;
  font-size: 11px;
  background-color: #b3b3b3; }
