<link href="/stylesheets/sjea-common.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/stylesheets/sjea-search.css" media="screen" rel="stylesheet" type="text/css" />

<div id="page">

   <div id="main-header">
      <h1>The Siege of Jerusalem Electronic Archive</h1>
      <ul id="header-list">
         <li><a href="/index.html">Home</a></li>
         <li><a href="/manuscript.html">Manuscripts</a></li>
         <li><a href="/search.html" class="active">Search</a></li>
         <li><a href="/comparison.html">Comparison</a></li>
      </ul>
   </div> <!-- main-header -->

   <div id="main-title">
      <h2>Search Results.</h2>
   </div>  <!-- main-title -->

   <div id="sidebar">

   </div>  <!-- sidebar -->

   <div id="content">

      <div id="content-header">

      </div>  <!-- content-header -->

     <div id="content-display">

       <h3>
       <%= "params = [#{@params}]" -%>
       </h3>

       <%= @results -%>

     </div>  <!-- content-display -->

   </div>  <!-- content -->

   <div id="main-footer">
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis posuere ultrices laoreet. Maecenas lacus sapien, tristique ultrices ultrices eu, vestibulum et sem. Nunc eu augue neque, eu congue turpis. Cras vulputate lacus iaculis eros vehicula tincidunt. Suspendisse viverra accumsan ipsum et suscipit. Cras eu tellus nunc. Nam blandit congue lorem vitae faucibus. Nunc at congue libero. Nam et lorem nisl. In laoreet sodales nunc. Quisque egestas, urna et commodo posuere, turpis diam ultricies mauris, id condimentum dui tortor fermentum ante.</p>
   </div> <!-- main-footer -->

</div>  <!-- page -->