// ********************************
// general definitions
// ********************************

$page_width: 97%;
$min_page_width: 800px;
$min_page_manuscript_width: 1024px;
$min_page_description_width: 1090px;
$min_page_overview_width: 1090px;
$min_transcript_page_width: 900px;
$min_page_height: 1000px;
$page_background_color: #2F1E17;
$fixed_element_z_index: 100;

// ********************************
// page header definitions
// ********************************

$header_height: 148px;
$header_tabs_active_color: #7B1C12;
$header_tabs_inactive_color: #F0E7CF;
$title_text_color: white;

// ********************************
// nav box defintions
// ********************************

$navbox_width: floor( $page_width * ( 1 / 6 ) );
$navbox_background_color: #DDD5BD;

$navitem_hover_color: white;
$navitem_active_color: $page_background_color;
$navitem_text_color: #695A42;

// ********************************
// content area definitions
// ********************************

$contentarea_width: ceil( 100% * ( 5 / 6 ) );
$content_text_color: black;
$content_background_color: #ECE6D6;
$contentheader_background_color: $navbox_background_color;

// ********************************
// footer definitions
// ********************************

$footer_height: 30px;
$footer_text_color: #F0E7CF;
$footer_background_color: $page_background_color;

// ********************************
// Font definitions...
// ********************************

$site_font: 'Signika Negative', 'Arial', sans-serif;
$content_font: "Times New Roman", Times, serif;

// ********************************
// page specific definitions
// ********************************

// home page
$logo_background_color: #F2F0E4;

// manuscript page
$image_border_color: #696969;

// comparison page
$altrow_background: #DDD5BD;
$table_lines: #9F9F9F;