@import "sjea-defs";

* {
   margin: 0;
   padding: 0;
}

#content {

   background-image: url(/images/home_art.jpg);
   background-repeat: no-repeat;
   background-position: top right;
   background-size: 100%;

   #content-display {

      padding: 135px  80px 0 80px;

      #home-image {
         background-image: url(/images/home_image.jpg);
	     background-repeat: no-repeat;
	     height: 260px;
	     width: 183px;
	     float: left;
	     margin: 0 12px 0 0;
      }

      #thanks {
         width: 100%;
         clear: both;
         margin: 25px 0 25px 0;;
         text-align: center;
         font-style: italic;
      }

      #logo-div {
         position: relative;
	     min-height: 275px;
	     width: 100%;
         clear: right;
         background-color: $logo_background_color;
      }

      .logo-top, .logo-bot {
         position: relative;
	     background-repeat: no-repeat;
	     background-position: top left;
	     display: inline;
	     margin: 10px 5px 10px 0;
      }

      #terms-list {
         margin: 0 0 0 50px;
      }
   }
}